.footer{
   background-color: #000; 
   /* min-height: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.formations{
  margin-top: 42px;
  width: 60%;
   height: auto; 
   background-color: #111111;
   border-radius: 20px;
   box-shadow: 10px 12px 12px 2px #323232;

   /* flex-box */
  display: flex;
  flex-direction: column;
  align-items:center;
}
.formations h1{
  
  box-shadow: 0px 10px 10px 10px #0044d0;
  
  font-family: 'Nunito', sans-serif;
  color: #fff;
  font-size: 32px;
  padding-bottom: 22px;
  width: 100%;  
  /* flex-box */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#champion{
  width: 60px;
}
.formationsTechs{
  margin-top: 32px;
  width: 100%;
 
  min-height: 40vh;
  padding-bottom: 32px;
  /* flex-box */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px; 
}
.formationsTechs h2{
  font-family: 'Nunito', sans-serif;
  color: #fff;
}
#senai-ba{
  width: 40%;
  opacity: 0.7;
  border-radius:20px;
  box-shadow:15px 10px 5px 5px #323232 ;
}
#RecodePro{
  width: 40%;
  opacity: 0.7;
  border-radius:20px;
  box-shadow:15px 10px 5px 5px #323232 ;
}
.formationsTech{
  background-color: #070a11;
  min-height: 30vh;
  width: 100%;
  margin-top: 32px;
  /* flex-box */
  display: flex;
  flex-direction: column;
}
.techTitle{
 display: flex;
 justify-content: center;
 padding: 22px;
}
.techTitle h1{
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  box-shadow: 10px 10px 10px 10px #0044d0;
  width: 60%;
  height: 80px;
  padding-bottom: 22px;
/* flex-box */
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}
.iconsTech{
  margin: 22px;
  border-radius: 20px;
  background-color: #070a11;
  box-shadow: 10px 12px 12px 2px #0044d0;
  /* flex-box */
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap; 
}
.iconsTech a{
  text-decoration: none;
}
.iconsTech h3{
  color: #fff;
  font-family: 'Nunito', sans-serif;
}
.html{
  display: flex;
  gap: 30px;
}
.html img:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.js img:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.git img:hover{
  transform: scale(1.1);
  cursor: pointer;
}
#html{
  box-shadow: 10px 1px  #ff8c00;
}
#css{
  box-shadow: 10px 2px  #0044d0;
}
.js{
  display: flex;
  gap: 30px;
}
#js{
  box-shadow: 10px 3px  #fde910;
}
#ts{
  box-shadow: 10px 4px  #0044d0;
}
#git{
  box-shadow: 10px 5px  #ff8c00;
}
.git h3{
 text-align: center;
}
@media(max-width:1000px){
  .formations h1{
    font-size: 22px;
  }
  .techTitle h1{
    font-size: 22px;
  }
}
@media (max-width:800px){
 #senai-ba{
  width: 60%;
 }
 #RecodePro{
  width: 60%;

 }
}
@media (max-width:580px){
  #senai-ba{
    width: 80%;
  }
  #RecodePro{
    width: 80%;   
  }
  .formationsTechs h2{
    font-size: 22px;  
  }
  .techTitle h1{
    font-size: 18px;
  }
  .iconsTech{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width:490px){
  .formations{
    width: 80%;
  }
}
@media(max-width:460px){
  .techTitle h1{
   width: 90%;
  }
}
@media (max-width:380px){
  .formationsTechs h2{
    font-size: 16px;
  }
} 
@media(max-width:320px){
  .techTitle h1{
    font-size:16px ;
  }
}