*{
  margin: 0;
  padding: 0;
}
.container{
  background-color: darkgray;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.item{
  flex-basis: 80px;
  border: solid black 1px;
  background-color: #fff;
} 
.main{
  flex-grow: 2;
 
}
.header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../header/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header__navigation {
  display: flex;
  justify-content: space-around;
 
  position: sticky;
  top: 0;
}
.header__navigation a {
  margin-top: 2rem;
  color: #00ff00;
  border: solid 2px #00ff00;
  border-radius: 20px;
  height: 60px;
  width: 120px;
  padding-top: 1rem;
  text-align: center;
  text-decoration: none;
  font-family: "Pixelify Sans", sans-serif;
  transition: 2s;
  animation-duration: 4s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 500%;
  }
}
.header__navigation a:hover {
  border-color: #0000ff;
  cursor: pointer;
}
.content {
  display: flex;
  justify-content: center;
  min-height: 20vh;
  margin-top: 12rem;

}
.content-photo{
  height: 200px;
  width: 200px;
  background-image: url('../header/gs.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

@media (max-width: 520px) {
  .header__navigation {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 12px;
  }
  .header__navigation a{
    border-radius: 10px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
  }
  .content{
    padding-bottom: 2rem;
  }
  .content-photo{
    margin-top: -122px;
  } 
  
}


/* full */
@media (min-width: 2560px) {
  .header__navigation a {
    width: 180px;
    font-size: 26px;
  }
  .content-photo {
    width: 400px;
    height: 400px;
  }
}
  