*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
}
.item{
 border: solid black 1px;
  flex-basis: 80px;
}
.main{
  flex-grow: 2;
}
.header__navigation{
   min-height: 120px;
   display: flex;
}
.header__logo{
  background-color: #171616;
  width: 50%;
  padding: 36px;
  padding-left: 118px;
}
.header__links{
  background-color: #03133E;

  width: 50%;
  padding: 40px;
  display: flex;
  gap: 20px;
}
/* styles  */
.header__logo h1{
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}
.header__links a{
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
/* responsive */
@media(max-width:660px){
  .header__logo {
    padding-left: 22px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .header__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width:320px){
  .header__logo h1  {
    text-align: center;
    font-size: 18px;
  }
}