  .main{
    display: grid;
    grid-template-columns: 4fr 1fr 3fr 1fr ;
    grid-template-rows: 5fr 1fr ;
    gap: 40px;
    border: solid black 1px;
  }
  .hobies{
    height: 180px;
  }
  .video{
    margin-top: 22px;
    
  }
  @media (max-width:570px){
    .main{
      display: flex;
      flex-direction: column;
     
    }
    .about{
      height: 180px;
    }
    .hobies{
      height: 160px;
    }
    .video{
    height: 180px;    
    }
  }

  @media(max-width:290px){
    .main{
      display: flex;
      flex-direction: column;

    }
  }