body{
   background-image: url('../main/constelatoin.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  opacity: 0.8;

}
.abaut{
  height: 850px;
}
.about__list{
  display: flex;
  flex-direction: column;
  align-items: center ;
  
}

.about__list h2 {
  color: #00FF00;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 22px;
}

.about__list h3{
  color: #00FF00;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 18px;

}
.abaut__ul li{
  color: #F8F8FF;
  font-family: 'Pixelify Sans', sans-serif;
 font-size: 20px;
}
#about__techs{
  border-radius: 50%;
  width: 350px;
}
@media(max-width:1220px){
  .about__list h3{
     padding-left: 4rem;
  }
}
@media(max-width:495px){
  .about__list h3{
    padding-left: 2rem;
  }
  .abaut{
    /* border: solid red 4px; */
  width: 500px; 
  }
  .abaut__ul{
     margin-top: 1rem;
  }
}
