.projects h2{
  color:#00FF00;
  font-family: 'Pixelify Sans', sans-serif;
  padding-bottom: 12px;
  margin-top: -26px;
}
.projects h4{
  color:#00FF00;
  font-family: 'Pixelify Sans', sans-serif;
  padding-bottom: 2rem;
  border: solid #00FF00;
  border-radius: 20px;
  width: 120px;
  padding: 1rem;
  text-align: center;
  font-size: 22px;
 ;
}
.projects{
  /* border: solid red 2px; */
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.projects__login{
  /* border: solid blue 2px; */
  width: 50%;
  margin-top: 20px;
}
#projects__login{
  width: 100%;
}
.projects__link{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
 
}
.projects h3{
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 22px;
  text-align: center;
  margin-top: 4px;
}
.projects h3 a{
  color: #fff;
  text-decoration: none;
  border: solid 2px  #00FF00;
  padding:1rem;
  border-radius: 20px;

}

@media (max-width:1320px){
  .projects__link{
    flex-direction: column;
    height: 120px;
  } 
 
 }
 @media (max-width:1260px){
  .projects__login{
    width: 90%;
  } 
 
 }
 @media(max-width:680px){
  .projects__login{
    width: 95%;  
  }
 }
 @media (max-width:430px){
  .projects__link h3 a{
    font-size: 18px;
  }
 }
 @media (max-width:360px){
  .projects__link h3 a{
    font-size: 14px;
  }
 }
 @media (max-width:360px){
  .projects__link h3 a{
    font-size: 8px;
  }
 }